@CHARSET "UTF-8";
.clear{
	clear:both;
}
.hover{
	background-color:#999;
	color:#999;
}
#container{
	width:1033px;
	margin-left: auto;
    margin-right: auto;
	
}
#content{
	
}

#left{
	width:220px;
	float:left;
	height:800px;
}

#left ul li ul li{
	list-style:none;
}
#right{
	margin-left:230px;
	width:auto;
}
.menu ul{
	display:none;
}
ul {
	margin:0px;
	padding:0px;
}